<!DOCTYPE html>
<html>
  <head>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-title" content="Temperaturmessung">
    <meta name="application-name" content="Temperaturmessung">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="Temperaturmessung">
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
  </body>
</html>
